$cyan: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);
$darkGrey: hsl(210, 10%, 33%);
$grey: hsl(201, 11%, 66%);

.imgBg {
  background-image: url(../assets/images/bg-header-desktop.png);
  padding: 4rem 0rem;
}

mat-card {
  padding: 2rem;
}

.logoList {
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: $darkGrey;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  color: $darkGrey;
  padding: 1rem;
}
p {
  font-size: 1rem;
  color: $grey;
  padding: 0.5rem;
}

.btnA {
  background-color: $cyan;
  box-shadow: 0px 6px 7px 0px rgba(38, 186, 164, 0.2);
}

.btnB {
  background-color: $blue;
  box-shadow: 0px 6px 7px 0px rgba(97, 155, 255, 0.2);
}

button {
  border: none;

  padding: 1.5rem 7.5rem;
  margin: 0.5rem;
  border-radius: 50px;
  color: white;
}
