<body align="center">
  
<section fxLayout="column">
  <img src="assets/images/logo.svg" alt="logo">
  <h1> {{ section1.title }}</h1>
  <p> {{ section1.subtitle}}</p>
  <div fxLayout="column">
    <div>
    <button>{{ btn.textA }}</button>
    </div>
    <div>
    <button> {{ btn.textB }}</button>
    </div>
    
  </div>
</section>

<section fxLayout="column">
  <h1>{{ section2.title }}</h1>
  <p> {{ section2.subtitle }} </p>
  <img [src]=[section2.img] [alt]=[section2.alt]>

  <div *ngFor= "let column of columnList">
    <h2> {{ column.title }}</h2>
    <p> {{ column.subtitle }}</p>
  </div>
</section>

<section fxLayout="column">
  <h1> {{ section3.title }}</h1>
  <p> {{ section3.subtitle }}</p>
  <img [src]=[section3.img] [alt]=[section3.alt] >
</section>

<section fxLayout="column">
  <h1> {{ section4.title}}</h1>
  <p> {{ section4.subtitle }}</p>

  <div *ngFor = "let row of rowList">
    <img [src]=[row.img] [alt]=[row.alt] >
    <h2> {{row.title}} </h2>
    <p> {{row.subtite}} </p>
  </div>

</section>

<section fxLayout="column">
  <div *ngFor="let image of logoList">
  <img [src]=[image.img] [alt]=[image.logo]>
  </div>
</section>

<section fxLayout="column">
  <h1> {{section5.title}}</h1>
  <p> {{section5.subtitle}} </p>
  <div>
  <button>{{ btn.textA }}</button>
  </div>
  <div>
  <button>{{ btn.textB }}</button>
  </div>
</section>

<footer fxLayout="column">
  <img src="assets/images/logo.svg" alt="">
  <div *ngFor = "let footer of footerList">
  <a href="#"> {{footer.title}}</a>
  </div>

  <div *ngFor = "let icon of iconList">
    <img [src]=[icon.img] [alt]=[icon.alt]>
    
  </div>
</footer>

</body>